*{
    margin: 0; padding: 0;
    font-family: sans-serif;

}

.home{
    height: 100vh; width: 100%;

}

.home img{ 
    height: 100%; width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 82%);
    filter: brightness(30%);
    position: absolute;
    z-index: -1;
}

/* ---------- */

.home .header{
    display: flex;
    justify-content: center;
}

.home .logo{
    display: flex;
    margin-right: 250px;
    margin-top: 10px;
}

.home .logo .log{
    font-size: 18px;
    padding: 3px 7px;
}

.home .logo .l1{
    width: 20px;
    text-align: center;
    background-color: white ;
    color: rgba(0, 0, 0, 0.701);
    font-weight: 600;
    font-size: 20px;
    height: 25px;
}

.home .logo .l2{
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-weight: 500;
    height: 20px;

}

.home .menu{
    display: flex;

}

.home .menu .h{
    color: red !important; 
    border-bottom: 1px solid red !important;
}

.home .menu .subheader{
    font-size: 12px;
    color: white;
    margin: 20px;
    height: 25px;
}

/* -------------------------------------- */

.home .info{
    margin-top: 100px;
}
.home .info h4{
    color: white;
    text-align: center;
    font-weight: 400;
}

.home .info h1{
    margin-top: 10px;
    font-size: 50px;
    color: white;text-align: center;
    letter-spacing: 4px;
    word-spacing: 5px;
}

.home .info hr{
width: 80px;
display: inline-block;
margin-top: 0;
} 

.home .info .First{
    margin-left: 675px;
}

.home .info span{
    color: red;
    font-size: 50px;
}

.home .info .para{
    margin: auto;
    width: 640px;
    text-align: center;
    color: white;
    font-weight: 200 !important;
    margin-top: 50px !important;
}

.home .info button{
    margin:30px 20px;
    height: 40px; width: 200px;

    font-size: 12px;
    color: white;
    font-weight: 600;
    border-radius: 3px;
}

.home .info .btn1{
    margin-left: 36%;
    background-color: red;
    border: none;
}

.home .info .btn2{
    background-color: transparent;
    border: white 1px solid;
}

/* *************************************************************************** */

.hanger{
    position: absolute;
    top: 96%; 
    left: 48.5%;
    height: 50px; width: 50px;
    background-color: aliceblue;
    border-radius: 50%;
    outline: 5px solid rgba(240, 248, 255, 0.612);
}

.hanger img{ 
    margin: 10px 14px;
}

/* *************************************************************************** */

.content{
    height: 400px;
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

.content .cont{
    width: 300px;
    text-align: center;
}

.content .cont .rotate{
    border: 1px solid red;
    height: 60px; width: 60px;
    margin: 20px auto;
}

.content .cont .rotate img{
    margin-top: 20px;
}

.content .cont .r1{
    transform: rotate(45deg);
}

.content .cont .r1 img{
    transform: rotate(-45deg);
}

.content .cont .h3{
    color: red;
}
.content .cont h3{
    margin: 10px ;
}

.content .cont p{
    font-size: 12px;
}

.content .cont hr{
    width: 15%;
    margin: 10px auto;
}
