*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section{
    width: 50%;
    margin: 100px auto;
    border: 2px solid #111;
    padding: 1rem;
}

section .container .row .marksheet h2{
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}

section .container .row .marksheet form .result{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 2rem 0;
}
section .container .row .marksheet form .result .left_side label,
section .container .row .marksheet form .result .right_side input{
    display: block;
    margin: 1rem 0;
    font-size: 18px;
    outline: none;
}

section .container .row .marksheet form .result .right_side .result_btn button[type=button]{
    padding: 8px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
    background: #dad9d9;
}

section .container .row .marksheet .total .result_btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
