#customers {
    background-color: #f8f9fa;
    padding: 50px 0;
  }

  .customer-card {
    border: none;
  }

  .customer-card img {
    border-radius: 50%;
    max-width: 100px;
    height: auto;
  }

  #popular-places {
    /* background-color: #ffffff; */
    padding: 50px 0;
  }

  .place-card {
    border: none;
  }

  .place-card img {
    max-width: 100%;
    height: auto;
  }




  .card-body{
      background: #0f4c81;
      color: white;
  }

  input,textarea{
    outline:1px solid #0f4c81;
  }

  .customer-card img{
    margin: auto;
    padding: 10px;
  }




  .button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    }

          .button a{
    margin-top: 40px;
    background: blue;
    color: #fff;
    transition: all .2s ease-in-out;
    padding: 10px 20px;
}

.button a:hover{
    background: #fff;
    border: 2px solid blue;
    color: blue;
}