h1{
    /* position: absolute; */
    text-align: center;
    margin-top: 0%;
}
.parent {
    height: 85vh;
    width: 100%;
    border: 1px solid;
    display: grid;
    grid-template-rows: repeat(2, 40%);
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    align-content: center;
    gap: 10px 10px;
}

.box {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.box .b-1,
.box .b-2 {
    height: 50%;
    width: 100%;
}

.b-1 img {
    height: 100%;
    width: 100%;
}

.b-2 {
    position: relative;
}

.b-2 .child {
    position: absolute;
    top: 60%;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.c-1 {
    height: inherit;
    width: 40%;
}

.c-1 button {
    padding: 5px 5px;
}

.c-2 {
    height: inherit;
    width: 20%;
}