 body{
    margin: 0%;
    padding: 0%;
 }
.header {
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    text-align: center;
    position: sticky;
    z-index: 20;
    top: 0;
    left: 0;
}

.first-head {
    width: 40%;
    font-size: 35px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 2;


}

.first-head span {
    color: green;
}

.head-1 {
    width: 6%;
    color: black;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 30px;


}

.head-1:hover{
    color: green;
    transition: 1s;
    
    
}

.header .head-1 a{
    color: black;
    text-decoration: none;
}

.header .head-1 a hr{
    width: 0px;
    margin-left: 12%;
    height: 3px;
    background-color: green;
    border: none;
}

.header .head-1:hover a{
    color: green;
    transition: 1s;
}


.header .head-1:hover a hr{
    width: 70%;
    color: green;
    transition: 1s;
    
}
    
    .head-1 span {
    color: green;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.head-1 span:hover{
     border-bottom: 1px solid green;
    
    transition: 1s;
}

.freeQuote a button {
    color: black;
    font-size: 20px;
    border: 1px solid green;
    text-align: center;
    line-height: 2;
    height: 50px;
    width: 170px;
    border-radius: 30px;
    margin-top: 16px;
    margin-left: 10px;
    background-color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.freeQuote a button:hover {
    background: white;
    color: green;
    transition: 1s;
    border: 2px solid green;

}

/* section start */
.contain-img {
    position: relative;
    height: 670px;
    width: 100%;
}

.contain-img .img {
    width: 100%;
    height: 700px;
    filter: brightness(50%);
    position: relative;
}

.contain-1 {
    position: absolute;
    margin: auto !important;
    margin-top: -30% !important;
    margin-left: 12.5% !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 5;
    color: white;

}

.contain-2 {
    position: absolute;
    margin-top: -28%;
    margin-left: 12.5%;
    font-size: 65px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 5;
    color: white;
}

.contain-3 {
    position: absolute;
    margin-top: -23.7%;
    margin-left: 12.5%;
    z-index: 5;
    color: white;
    font-size: 65px;
    font-weight: bold;
}

.contain-4 button {
    position: absolute;
    margin-left: 12.5%;
    z-index: 10;
    width: 200px;
    margin-top: -17%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    height: 50px;
    width: 140px;
    border: 2px solid white;
    background: white;
    border-radius: 27px;
    color: green;

}

.contain-5{
   height: 210px;
   width: 320px;
   background-color: white;
   position: absolute !important;
   margin-top: -16% !important;
   margin-left: 76.5%;
   border-radius: 6px;
}

.contain-5 img{
   height: 140px;
   width: 280px;
   margin-top: 6%;
   margin-left: 6%;
   border-radius: 7px;
}

.contain-5 div {
    margin-left: 6%;
    margin-top: 3.5%;
    font-weight: bold;
    font-size: 20px;
}

.contain-5 div:hover{
    color: green;
    transition: 0.5s;
    cursor:pointer;
}

.contain-6{
    height: 210px;
    width: 320px;
    background-color: white;
    position: absolute !important;
    margin-top: -16% !important;
    margin-left: 53.6%;
    border-radius: 6px;
 }
 

 .contain-6 img{
    height: 140px;
    width: 280px; 
    margin-top: 6%; 
    margin-left: 6%;
    border-radius: 7px;
 }

 .contain-6 div{
    margin-left: 6%;
    margin-top: 3.5%;
    font-weight: bold;
    font-size: 20px;
}

.contain-6 div:hover{
    color: green;
    transition: 0.5s;
    cursor:pointer;
}
 

.contain-4 button:hover {
    background: transparent;
    transition: 1s;
}

.invest {
    height: 650px;
    width: 100%;
    background: whitesmoke;
    display: flex;
}

.part-1 .about {
    color: green;
    margin-top: 130px;
    margin-left: 200px;


}

.part-1 {

    width: 45%;
    height: 600px;
}

.part-2 {

    width: 40%;
    height: 450px;
    overflow: hidden !important;
    margin-top: 5%;
    margin-left: 5%;
    cursor: pointer;
}

.part-2:hover{
    border-radius: 10px;
}

.part-2:hover img{
    scale: 1.2;
    transition: all ease 1s;
}

.part-2 img {
    height: 100%;
    width: 100%;
    
    border-radius: 10px;
    overflow: hidden;
}

.part-1 .about-2 {
    margin-left: 200px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 40px;
}

.write {
    margin-left: 200px;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.part-1 button {
    color: white;
    background: green;
    height: 50px;
    width: 160px;
    border: 2px green;
    margin-top: 20px;
    margin-left: 210px;
    border-radius: 30px;
}

.part-1 button:hover {
    background: transparent;
    color: green;
    border: 2px solid green;
    transition: 1s;
}

.offer {
    width: 100%;
    height: 600px;
    display: flex;
}


.offerimg {
    margin-top: 3%;
    height: 450px;
    width: 40%;
    overflow: hidden;
    margin-left: 10%;

}

.offer img {
    height: 450px;
    width: 100%;
    border-radius: 10px;
}

.offerimg:hover{
    border-radius: 10px;
}

.offerimg:hover img{
    scale: 1.2;
    transition: all ease 1s;
    
}

.offer .typeproduct {
    height: 570px;
    width: 53%;
}

.typeproduct .do {
    color: green;
    margin-top: 50px;
    margin-left: 12%;
}

.offer-detail{
    margin-left: 12%;
    margin-top: 10px;
    font-weight: bold;
    font-size: 40px;
}

.detail-1{
    margin-left: 12%;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.service{
    margin-top: 4%;
    margin-left: 100px;
}

.service div{
    margin-top: 4%;
}

.fa-solid{
    height: 18px;
    width: 20px;
    background: whitesmoke;
    border-radius: 30px;
    text-align: center;
    margin-left: 12%;
    
}

.weed{
    margin-left: 13px;
    font-weight: bold;
    font-size: large;    
}

.after-before{
    height: 600px;
    display: flex;
    background: whitesmoke;
    
}

.after-before .after{
    width: 40%;
    height: 440px;
    margin-left: 10%;
    margin-top: 70px;
    position: relative;
    overflow: hidden;
}

.after-before .before{
    width: 40%;
    height: 440px;
    margin-top: 70px;
    position: relative;
    overflow: hidden;
    
}

.after:hover img{
    scale: 1.2;
    transition: all ease 1s;
    border-radius: 10px 0 0 10px;

}

.before:hover img{
    scale: 1.2;
    /* transform: skew(180deg); */
    transition: all ease 1s;
    
    
}

.before:hover{
    border-radius: 0 10px 10px 0;
}


.after:hover{
    border-radius: 10px 0 0 10px

}

.after img{
    height: 100%;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.before img{
    height: 100%;
    width: 100%;
    border-radius: 0 10px 10px 0;
}

.after .after-1{
    position: relative;
    height: auto;
    width: auto;
    margin-top: -70%;
    font-size: 30px;
    font-weight: bold;
    margin-left: 2%;
    color: white;
}

.before .before-1{
    position: relative;
    height: auto;
    width: auto;
    margin-top: -10%;
    font-size: 30px;
    font-weight: bold;
    margin-left: 82%;
    color: white;
}

.high{
    height: 700px;
    width: 100%;
}

.Quality{
    height: auto;
    width: auto;
    background: white;
    margin-left: 12%;
    margin-top: 7%;
}

.Quality .Quality-1{
    color: green;
}

.Quality .Quality-2{
    color: black;
    font-size: 35px;
    font-weight: bold;
    
}

.type-product{
    width: 76%;
    height: 280px;
    /* background: black; */
    margin: auto;
    display: flex;
    margin-top: 3%;

}

.type-product img{
    height: 280px;
    width: 350px;
    border-radius: 7px;
    
}

.type-product .img-1{
    /* margin-left: 5%; */
    height: 280px;
    width: 350px;
}

.type-product .img-2{
    margin-left: 2.5%;
    height: 280px;
    width: 350px;
}

.type-product div:hover img{
   transform: rotateY(180deg);
   transition: all ease 1.5s;
   
}

.high .Milk{
    display: flex;
    height: 40px;
    width: 76%;
    margin-left: 12%;
    /* background-color: aqua; */
    margin-top: 2%;
    font-weight: bold;
    font-size: 22px;
}

.Milk .Two{
    margin-left: 18%;
    /* margin-top: 2%; */

}

.Milk .Three{
   margin-left: 19.4%;
}

.high .dolor{
    margin-left: 12%;
    color: gray;
    margin-top: .3%;
    font-size: large;
}
.Milk div a{
    text-decoration: none;
    color: black;

}

.Milk div a:hover{
    
    transition: .5s;
    color: green;
}

.Milk a hr{
    width: 0px;
    
}

.Milk div a:hover hr{
    width: 100%;
    transition: 1s;
    color: green;
}

.dolor{
    display: flex;
}

.dolor .dolor-2{
    margin-left: 7%;
}

.dolor div{
    margin-top: 1%;
}

.sub{
    height: 400px;
    width: 100%;
    position: relative;
    
}

.sub img{
    height: 100%;
    width: 100%;
    filter: brightness(30%);
}

.sub .sub-1{
    position: absolute;
    margin-top: -21%;
    color: white;
    margin-left: 55%;
    
    
}

   .update{  
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.good{
    font-size: 20px;
    margin-top: 2%;
    color: white;

}

.sub .input input{
    height: 46px;
    width: 300px; 
    border: none;
    border-radius: 50px;
    margin-top: 5%;
} 

.sub .input button{
    height: 46px;
    width: 135px;
    background: green;
    border-radius: 50px;
    color: white;
    border: none;
    margin-left: 5%;
}

.sub .input-1{
    margin-top: 5%;
    font-weight: bold;
    font-size: 18px;
}

.sub .input-1 span{
    color: green;   
}

footer{
    display: flex; 
    margin-top: 1%;
    height: 350px;
    width: 100%;
    background:#000000;

}

footer .foot{
    height: 300px;
    width: 300px;
    /* border: 2px outset red; */
    margin-left: 4%; 
    justify-content: center !important;
     margin-top: 3%;

}

.foot-1{
    color: white;
    margin-left: 12%;
    margin-top: 3%;
}

footer .foot h1{
    color: white;
}

.foot div{
    color:#ababab;;
    margin-top: 5%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}
.foot-4{
    color: white;
    margin-top: 3%;
    margin-right: 7%;

}

.foot-3{
    color: white;
    margin-top: 3%;
    margin-right: 7%;

}


.foot .cate-1{
    color: #ababab;
    margin-top: 7%;
}

.fa-solid{
    margin: 0%;
    padding: 0%;
}

.foot.im-1{
    margin-top: 5%;
}

















