body{
    margin: 0%;
    padding: 0%;
 }
.header {
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    text-align: center;
    position: sticky;
    z-index: 20;
    top: 0;
    left: 0;
}

.first-head {
    width: 40%;
    font-size: 35px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 2;


}

.first-head span {
    color: green;
}

.head-1 {
    width: 6%;
    color: black;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 30px;


}

.head-1:hover{
    color: green;
    transition: 1s;
    
    
}

.header .head-1 a{
    color: black;
    text-decoration: none;
}

.header .head-1 a hr{
    width: 0px;
    margin-left: 12%;
    height: 3px;
    background-color: green;
    border: none;
}

.header .head-1:hover a{
    color: green;
    transition: 1s;
}


.header .head-1:hover a hr{
    width: 70%;
    color: green;
    transition: 1s;
    
}
    
    .head-1 span {
    color: green;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.head-1 span:hover{
     border-bottom: 1px solid green;
    
    transition: 1s;
}

.freeQuote a button {
    color: black;
    font-size: 20px;
    border: 1px solid green;
    text-align: center;
    line-height: 2;
    height: 50px;
    width: 170px;
    border-radius: 30px;
    margin-top: 16px;
    margin-left: 10px;
    background-color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.freeQuote a button:hover {
    background: white;
    color: green;
    transition: 1s;
    border: 2px solid green;

}

/* section start */

#sec-1{
 position: relative;
}  

.section-1{
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 1;
    color: white;
}

#sec-1 img{
    filter: brightness(30%);
    
}

.section-1 h1{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0%;
}

.section-1 span{
    color: green;
}

.section-1 p{
    font-size: 25px;
}

#sec-2 h1{
    font-family:sans-serif;
    font-size: 45px;
    text-align: center;
}
#sec-2 p{
    margin-bottom: 0%;
}

#sec-2 div{
    text-align: center;
    font-size: 17px;
    color: gray;
    line-height: 1;
}

#sec-2 button{
    height: 50px;
    width: 170px;
    border-radius: 30px;
    margin-left: 44%;
    font-weight: bold;
    font-size: 17px;
    margin-top: 3%;
    background: green;
    border: 2px solid green;
    color: white;
    
}

a{
    text-decoration: none;
}

#sec-2 a button:hover{
    color: green;
    background: transparent;
    transition: 1s;
        
}

#sec-3 {
      display: flex;
      column-gap: 200px;
      margin-left: 15%;
      margin-top: 50px;

}

#sec-3 h2:hover{
    color: green;
    transition: 1s;
    cursor: pointer;

}



#sec-5{
    position: relative;
    margin-top: 50px;

}

#sec-5 img{
    filter: brightness(25%);
}

#sec-5 .section-2{
    position: absolute;
    width: 100%;
     top: 0%; 
     left: 0%; 
    margin: auto;
}

#sec-5 .section-2 p{
    color: green;
    font-size: 18px;
    text-align: center;
    filter: brightness(150%);
}

#sec-5 .section-2 h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: sans-serif;
}

.section-3{
    display: flex;
    position: relative;
    top: 0%;
    left: 0%;
    
}

.section-3 .sc-1 {
    margin-left: 11%;
    line-height: 1.5;
    margin-top: 4%;
}


.section-3 div h2{
    color: white;
    font-size: 22px;
    font-family: sans-serif;
}

.sc-1 div{
    color: gray;
    filter: brightness(120%);
    font-family: sans-serif;
    
}

/* img hover */

#sec-6 img:hover{

}

.sc-2{
    margin-top: 30%;
}

.section-2 h2:hover{
    color: green;
    transition: 1s;
    cursor: pointer;
}

.sec-6{
    width: 100%;
    height: auto;
}

#sec-6 .sc-3{
    display: flex;
}

.sc-3 .se-1{
    height: 250px;
    width: 250px;
    margin-left: 6.5%;
    margin-top: 6%;

}

.sc-3 div img{
    height: 190px;
    width: 265px;
    border-radius: 8px;
}

#sec-6  h2{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
}

#sec-6 h2:hover{
    color: green;
    transition: 1s;
    cursor: pointer;
}

.se-1 div{
    line-height: 1.5;
    color: gray;
    font-size: 17px;
    font-family: sans-serif;
}

.img-1{
    height: 190px; width:265px ;
    border-radius: 10px;
    overflow: hidden;

}

.img-1:hover img{

    transform: rotatex(360deg);
    cursor: pointer;
    transition: all ease 2s;
    backface-visibility: hidden;
}

.se-1 p{
    color: green;
    font-size: 18px;
}

/* footer start */


footer{
    display: flex; 
    margin-top: 16%;
    height: 350px;
    width: 100%;
    background:#000000;

}

footer .foot{
    height: 300px;
    width: 300px;
    /* border: 2px outset red; */
    margin-left: 4%; 
    justify-content: center !important;
     margin-top: 3%;

}

.foot-1{
    color: white;
    margin-left: 12%;
    margin-top: 3%;
}

footer .foot h1{
    color: white;
}

.foot div{
    color:#ababab;;
    margin-top: 5%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}
.foot-4{
    color: white;
    margin-top: 3%;
    margin-right: 7%;

}

.foot-3{
    color: white;
    margin-top: 3%;
    margin-right: 7%;

}


.foot .cate-1{
    color: #ababab;
    margin-top: 7%;
}

.fa-solid{
    margin: 0%;
    padding: 0%;
}

.foot.im-1{
    margin-top: 5%;
}


