@media(max-width: 500px) {
    body {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }

    /* ---------------------------------------------Header------------------------------------------------ */
    .log {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    .menu {
        margin-left: 180px;
    }

    .menu img {
        display: block;
        height: 20px;
        width: 20px;
        margin-top: 15px;
    }

    .menu ul li {
        display: block;
        padding: 10px;
        background: #F6F3FC;
        position: relative;
    }

    .open {
        display: none;
        position: absolute;
        top: 33px;
        left: 57%;
    }
    .open li:hover{
        background-color: #796EFF;
    }

    .menu:hover .open {
        display: block;
    }

    .manage {
        width: 100%;
        font-size: 32px;
    }

    .info {
        text-align: justify;
        font-size: 14px;
    }

    /* ------------------------------------------------------section 1----------------------------------- */
    .img-1 {
        width: 100%;
        height: 70vh;
        margin: 5px auto;
        text-align: center;
    }

    /* ---------------------------------------------------------section 2------------------------------------ */
    .sec-2 {
        flex-direction: column;
        height: auto;
    }

    .trusted {
        text-align: center;
    }

    .sec-2 .box {
        height: auto;
        margin: 0%;
        width: 100%;
        padding: 0;
        position: relative;
    }

    .sl-1::before {
        position: absolute;
        left: 7%;
    }

    .logo div {
        width: 70%;
    }

    /* ----------------------------------------------section 3------------------------------------ */
    .sec-3 {
        margin: auto;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .sec-3 .layout {
        text-align: center;
        position: relative;
        width: 100%;
    }

    .sec-3 .layout .logoes {
        position: absolute;
        top: 15px;
        left: 48%;
    }

    .but {
        margin: auto;
    }

    .work {
        font-size: 32px;
        margin: 0%;
        font-weight: 600;
    }

    .work-info {
        width: 100%;
        text-align: justify;
    }

    /* -----------------------------------------------------------sec 4-------------------------------- */
    .sec-4 {
        margin-top: 0px;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 60%;
    }

    .i {
        text-align: center !important;
    }

    /* ---------------------------------------------------------sec 5------------------------------------------- */
    .sec-5 {
        padding: 0%;
        height: auto;
        align-items: center;
        flex-direction: column;
    }

    .sec-5 p {
        font-weight: 600;
        font-size: 22px;
    }

    .sec-5 .part {
        text-align: center;
        width: 100%;
    }

    .sec-5 .p-1 {
        padding: 0%;
    }

    .sec-5 .p-2 {
        width: 250px;
    }
    .sec-5 .p-2 img{
        margin: 16px;
    }

    /* -----------------------------------------------footer------------------------------------- */
    footer {
        height: 350px;
        flex-direction: column;
        align-items: center;
    }

    footer .foot {
        height: auto;
        width: 30%;
        display: inline;
        text-align: center;
        
    }

    .foot li {
        width: 100%;
    }

    .foot .fa-solid {
        display: block;
    }

    .copyright {
        height: 100px;
        flex-direction: column;
    }

    .right-1,.right-2 {
        text-align: center;
        width: 100%;
    }

    footer .foot p {
        display: none;
    }

    .foot .pera img {
        width: 100%;
    }

    .foot:hover .pera {
        display: block;
    }
}