@media(max-width:500px) {

    body{
        margin: 0;
        padding: 0;
    }
    /* css for header starts */

    header{
        justify-content: space-between;
    }

    header .logo{
        margin-left: 5%;
    }

    /* css of bar */
    header .bar{
        flex-wrap: wrap;
        margin-right: 5%;
        width: fit-content;
        text-align: right;
    }

    header .bar:hover .menu {
        display: block;
        width: fit-content;
        margin-left: 27%;
        position: absolute;
        top: 60px; left: 35%;
    }

    header .bar .bar-line{
        display: inline;
        margin-top: 10px;
        width:100%;
    }
    
    header .bar:hover .bar-line{
        margin-left: 5%;
        /* margin-right: 0; */
    }

    
    /* ************************ */
    
    /* css of header menu */
    header .menu {
        display: none;
        margin-right: 0;
    }

    header .menu .items{
        background-color: #ECE5FF;
        padding: 9px;
        margin-top: 5px;
        border-radius: 20px 0 0 20px;
    }
    .m-1{
        display: block;
    }

    header .menu .items:hover{
        background-color: #7259FA;
        color: white;
        transition: 0.5s;
        cursor: pointer;
    }

    /* css of header login , button's */
    header .log-in {
        display: none;
    }


    /* *************************** */

    header .bar .log-in button{
        display: none;
    }

    /* -------------------------------------------------------------------- */


    /* css of discount */
    .discount {
        width: fit-content;
        margin-top: 20px;
    }

    .discount svg {
        display: inline;
    }

    .discount span {
        display: none;
    }

    .discount:hover span {
        display: inline;
    }


    /* -------------------------------------------------------------------- */


    /* css of intro */

    .intro h1 {
        width: 318px;

        font-size: 32px;
        line-height: 40px;
    }

    .intro p {
        width: 318px;
    }

    .intro input {
        /* margin-left: 17%; */
        /* margin: 0px; */
        /* margin: auto !important; */
        margin-left: 50px;
        border-radius: 4px;
        text-align: center;
    }

    .intro button {
        /* margin-left: 17%; */
        border-radius: 4px;
        text-align: center;
        margin-left: 50px;
        margin-top: 10px;
        width: 319px;
    }


    /* -------------------------------------------------------------------- */


    /* css of graph image */

    .graph-image img {
        height: 300px;
        width: 90%;
    }


    /* -------------------------------------------------------------------- */


    /* css of team logo */

    .team-logo {
        margin-top: 60px;

        flex-wrap: wrap;
    }

    .team-logo p {
        /* width: 318px; */
        font-size: 11px;
        line-height: 11px;
    }

    .team-logo svg {
        margin: 10px 10px 60px 10px;
        width: 60px;
        height: 20px;
    }

    /* -------------------------------------------------------------------- */


    /* ---------------------------------------------------------section 2------------------------------------ */
    .sec-2 {
        flex-direction: column;
        height: auto;
    }

    .trusted {
        text-align: center;
    }

    .sec-2 .box {
        height: auto;
        margin: 0%;
        width: 100%;
        padding: 0;
        position: relative;
        /* display: none; */
    }

    /* .sl-1::before {
        position: absolute;
        left: 7%;
    } */

    .sl-1 {
        background: #F6F3FC;
        border-bottom: 4px solid  #794CFF;
        border-left: none !important;
    }
    .logo div {
        width: 70%;
    }


    .info,.but{
        display: none;
    }

  
    /* ----------------------------------------------section 3------------------------------------ */
    .sec-3 {
        margin: auto;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .sec-3 .layout {
        text-align: center;
        position: relative;
        width: 100%;
        padding-top: 25px !important;
        
    }

    .sec-3 .layout_button{
        display: block;
    }

     #layout-i{
        display: none !important;
    }

    .sec-3 .svg-i{
        display: none !important;

    }


    .sec-3 .layout .logoes {
        position: absolute;
        top: 45px;
        left: 47%;
    }

    .but {
        margin: auto;
    }

    .work {
        font-size: 32px;
        margin: 0%;
        font-weight: 600;
        display: none;
    }

    .work-info {
        width: 100%;
        text-align: justify;
        display: none;
    }

    /* -----------------------------------------------------------sec 4-------------------------------- */
    .sec-4 {
        margin-top: 0px;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 60%;
    }

    .sec-4 .b{
        display: none;
    }

    .i {
        text-align: center !important;
    }

    /* ---------------------------------------------------------sec 5------------------------------------------- */
    .sec-5 {
        padding: 0%;
        height: auto;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .sec-5 p {
        font-weight: 600;
        font-size: 22px;
    }

    .sec-5 .part {
        text-align: center;
        width: 100%;
    }

    .sec-5 .p-1 {
        padding: 0%;
    }

    .sec-5 .p-2 {
        width: 250px;
    }
    .sec-5 .p-2 img{
        margin: 16px;
    }

    /* -----------------------------------------------footer------------------------------------- */
    footer .lists .sec ul li{
        display: none;
    }

    footer .lists {
        flex-wrap: wrap;
    }

    footer .lists .s1{
        margin-top: 40px;
    }

    footer .sec {
        height: auto;
        width: 100%;
    }
    
    footer .sec ul{
        margin: 20px 7%;
        font-size: 20px;
        font-weight: 500;
    } 

    footer .s1 ul svg{
        margin-left: 60%;
    }

    footer .s2 ul svg{
        margin-left: 64%;
    }

    footer .s3 ul svg{
        margin-left: 71%;
    }

    footer .lists .sec ul:hover li{
        display: block;
    }

    footer .lists .sec li{
        margin: 20px;
    }

    footer .lists .s4{
        margin: 20px 15%;
    }
    .img{
        display: none;
    }

    .sec ul svg{
        display: block;
        margin-left: 270px !important;
        
    }
    
    
    footer .lists .s4 h3{
        margin: 0 auto 40px auto;
        letter-spacing: 1px;
        font-size: 20px;
        font-weight: 500;
    }
}