body {
    background: #FBFAFE;
}

/* -----------------------------------------------HEADER START----------------------------------------- */


header .bar .bar-line {
    display: none;
}

header .bar {
    display: flex;
    justify-content: space-evenly;
}

header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

/* company logo */

header .logo {
    display: flex;
    margin-top: -8px;
}

header .logo .txt {
    color: #1D2830;
    font-family: Josefin sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 100% */
    letter-spacing: -1.44px;
}

header .logo .dot {
    color: #794CFF;
    font-family: Josefin Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1.44px;
}

/* Menu item Start */

header .menu {
    display: flex;
    margin-right: 100px;
    /* width: 100%; */
}

header .menu .items {
    margin-top: 15px;

    color: #35414B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-left: 40px;
    /* 100% */
}

.m-1{
    display: none;
}

/* Log in css */

header .log-in {
    display: flex;
}

header .log-in .items {
    color: #35414B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-top: 15px;
    margin-right: 20px;
    /* 100% */
}

header button {
    width: 169px;
    height: 48px;
    border-radius: 4px;
    background: #ECE5FF;

    color: #794CFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    border: none;
    /* 100% */
}





/* ---------------------------------------------------------------------------- */

.discount {
    border-radius: 100px;
    background: #F2F9EB;
    width: 259px;
    height: 32px;

    color: #35414B;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 100% */

    margin: 200px auto 0 auto;
}

.discount span {
    border-radius: 100px;
    background: #81C43B;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    padding: 6px;
    /* 100% */
}

.discount svg {
    display: none;
}


/* section intro starts  */




.intro h1 {
    width: 760px;
    margin: 20px auto 0;

    color: #35414B;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    /* 112.5% */
}

.intro p {
    width: 505px;
    margin: 15px auto;

    color: #4E5A65;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}



.intro input {
    height: 52px;
    width: 319px;

    padding: 0;
    margin-left: 34%;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #E1E5EA;
    background: #FFF;

    color: #97A5B5;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
}

.intro button {
    width: 164px;
    height: 52px;

    border-radius: 0px 4px 4px 0px;
    border: 1px solid #794CFF;
    background: #794CFF;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 100% */
}

/* section intro css ends here */

/* ---------------------------------------------------------------------------- */

/*  graph-image css start */

.graph-image {
    margin-top: 30px;
    text-align: center;
}

.graph-image img {
    width: 920px;
    height: 654px;
}

/* section graph-image css ends here */

/* ---------------------------------------------------------------------------- */

/* section .team-logo starts here */

.team-logo {
    text-align: center;
    margin-top: 100px;
}

.team-logo p {
    color: #4E5A65;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
}

.team-logo span {
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.team-logo svg {
    margin: 10px 75px;
}

/* --------------------------------------------------sec-2  start-------------------------------------------------- */
.sec-2 {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.sec-2 .box {
    height: 50vh;
    width: 35%;
    /* border: 1px solid; */
    padding: 25px;
    position: relative;
}

.sec-2 .box img {
    height: 100%;
    width: 100%;
}

.sec-2 #Timeline {
    color: #4E5A65;
    font-weight: 500;
    border: none !important;
    margin: 16px !important;
}

.parent p {
    color: #4E5A65;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    width: 50%;
    margin-left: 20%;
    border: 1px solid;
}

.parent p span,
.son p span {
    color: #3B7FF6;
    font-weight: 400;
    line-height: 16px;
}

.child span,
.son span {
    color: #4E5A65;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
}

.son {
    min-height: 50%;
    width: 50%;
    position: absolute;
    border: 1px solid;
    background-color: #fff;
    top: 45%;
    left: 45%;
    z-index: 2;
}

.list {
    margin: auto;
    /* border: 1px solid; */
    height: 80%;
    width: 80%;
    font-family: Inter;
    color: #4E5A65;
    padding: 15px 10px;
    text-align: center;
}

.sublist{
    margin-top: 25px;
}

.sublist span {
    color: #35414B;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 2;
    margin-top: 20px !important;
}

.sl-1 {
    background: #F6F3FC;
    border-left: 4px solid #794CFF !important;
    text-align: center;
    border-left: none;
}

/* .sl-1::before {
    position: absolute;
    left: 12.5%;
    content: "";
    height: 60px;
    width: 4px;
    background: #794CFF;
} */

.work {
    color: #35414B;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
}

/* ---------------------------------------------sec-3 start --------------------------------------------------- */
.sec-3 {
    margin: auto;
    height: 60vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.sec-3 .layout {
    position: relative;
    height: 40%;
    width: 30%;
    /* border: 1px solid; */
}

.sec-3 .layout .logoes {
    position: absolute;
    top: 15px;
    left: 20px;
}

.sec-3 .layout_button {
    width: 318px;
    height: 52px;
    
    border-radius: 4px;
    border: 1px solid #ECE5FF;
    background: #ECE5FF;
    
    color: #7259FA;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;

    display: none;
}

.title {
    margin-top: 15px;
    color: #35414B;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 5px;
}

.i {
    text-align: justify !important;
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}

.but {
    padding: 15px 20px;
    background-color: #796EFF;
    width: 30%;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.work-info {
    text-align: center;
    margin: auto;
    width: 50%;
    line-height: 20px;
    color: #4E5A65;
    font-family: Inter;
    padding: 30px;
    line-height: 2;
}

/* ---------------------------------------------------sec-4 start-------------------------------------------------- */
.sec-4 {
    margin-top: 20px;
    height: 80px;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-evenly;
}

.box {
    height: inherit;
    width: 25%;
    /* border: 1px solid; */
    position: relative;
    font-family: Inter;
    color: #4E5A65;
}

.sec-4 .box img {
    margin: 12px;
}

.sec-4 .box p {
    margin-top: 0%;
    position: absolute;
    left: 70px;
    top: 10px;
    color: #4E5A65;
    font-weight: 600;
}

.sec-4 .box span {
    position: absolute;
    left: 70px;
    top: 40px;
}

/* -----------------------------------------------sec-5---------------------------------------------------- */
.sec-5 {
    height: 150px;
    border-radius: 20px !important;
    width: 90%;
    margin: 50px auto;
    font-family: Inter;
    background-color: #796EFF;
    display: flex;
    border-radius: 0%;
}

.sec-5 .part {
    height: inherit;
    width: 50%;
}

.sec-5 .p-1 {
    padding-left: 30px;
}

.sec-5 p {
    color: #FFF;
    font-weight: 600;
    font-size: 32px;
}

.sec-5 img {
    text-align: center;
    margin: 40px 20px;
    height: 50px;
    width: 200px;
}

/* ---------------------------------------footer---------------------------------------------------- */
footer {
    height: auto;
    background: #1D2830;
}

footer .lists {
    display: flex;
    justify-content: space-evenly;
}

footer .sec ul {
    color: #FFF;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 100% */
    margin: 60px auto;
}

footer .sec ul li {
    color: #FFF;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */

    list-style: none;
    margin: 30px auto;
}

footer .s4 h3 {
    color: var(--text-gray-100, #F4F5F7);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 100% */

    margin: 60px auto 30px auto;
}

footer .s4 svg {
    display: block;
    margin: 10px 0 0 0;
}

footer .copyright {
    display: flex;
    border-top: solid #FFF;
    height: 60px;
}

footer .copyright p {
    width: 50%;
    margin-left: 15%;
    margin-top: 20px;


    color: var(--text-gray-300, #D9DBE1);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
}

.sec ul svg{
    display: none;
    
}



footer .copyright .img {
    margin-left: 8%;
}

footer .copyright .img svg {
    margin: 20px 10px;
}