body{
    padding: 0;margin: 0;
}

.parent{
    display: flex;
    position: relative;
}

.parent .main-div {
    width: 55%;
    height: 738px;
    background-color: #202020;
}

.parent .main-div .frame{
    width: fit-content;
    margin-left: 180px;
    margin-top: 150px;
}

.parent .main-div .service {
    display: flex;
    width: 587px;
}

.parent .main-div .service h1 {
    width: fit-content;
    font-size: 36px;
    letter-spacing: 4px;
    color: #f4f5f9;
    font-weight: 700;
    font-family: sans-serif;
    margin-left: 251px;
}

.parent .main-div .service h2 {
    width: 6px;
    height: 36px;
    margin-top: 25px;
    margin-left: 10px;
    background-color: #e74c3c;
}

.parent .main-div .write p {

    width: 587px;
    height: 74px;
    font-size: 14px;
    line-height: 29px;
    color: #999999;
    font-weight: 400;
    font-family: sans-serif;
    text-align: right;
}

.parent .main-div .write h3 {
    width: 587px;
    height: 25px;
    font-size: 18px;
    line-height: 29px;
    color: #e74c3c;
    font-weight: 600;
    font-family: sans-serif;
    text-align: right;
    margin: 0;
}

.parent .div-2 {
    width: 45%;
    height: 738px;
    background-color: wheat;
    background-image: url("./put\ your\ image.jpeg");
    background-size: 100% 100%;
}

.img{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: white;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    outline: 5px solid rgba(255, 255, 255, 0.300);
}

.img1{
    left: 53.5%;
    top: 270px;
}

.img2{
    left: 53.5%;
    top: 390px;
}

.img3{
    left: 53.5%;
    top: 510px;
}